global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        quiet
        daemon
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

        maxsessrate 30000
        maxconnrate 30000
        maxconn 100000

defaults
        log     global
        mode    tcp
        option  dontlognull
        retries 3
        timeout connect 180m
        timeout client  60m
        timeout server  60m

listen stats
            bind :8080
            mode http
            stats enable
            stats uri /stats

{% for item in haproxy_frontends %}
frontend {{ item.name }}
        bind *:{{ item.port }} name {{ item.name }}
        mode {{ item.mode }}
        default_backend {{ item.backend_name }}
{% endfor %}


{% for item in haproxy_backends %}
backend {{ item.name }}
        mode {{ item.mode }}
        {{ item.options }}
        {{ item.backend_servers }}
{% endfor %}